footer {
  display: none;
}

footer .infos {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.footer-container .reseau {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .infos-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30vw;
}

.footer-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-info-container span {
  margin-left: 1vw;
}

.footer-info-container svg {
  font-size: 3vh;
}

@media screen and (min-width: 1200px) {
  footer {
    height: auto;
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 2vh;
  }
}
